@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
@import './layout/normalize.css';
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  color: #666;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-width: 1100px;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 940px;
}

.btn {
  padding: 21px 41px;
  background: #FEDB3F;
  border-radius: 100px;
  color: #000000;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 10;
}
.btn:hover {
  background: rgba(254, 219, 63, 0.9137254902);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero {
  background: url("../../img/main/hero.png") center top no-repeat;
  height: 100%;
  min-height: 650px;
  color: white;
}
.hero .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero .menu__item {
  padding: 0 11px;
}
.hero-section {
  width: 580px;
  margin-bottom: 64px;
}
.hero-section__title {
  font-size: 48px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.hero-section__subtitle {
  font-size: 21px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 30px;
}

.hero-info {
  width: 500px;
}
.hero-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-info__icon {
  padding-right: 10px;
}
.hero-info__desc {
  width: 90px;
}

.header {
  margin-top: 15px;
  margin-bottom: 102px;
}

.contacts__phone {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}
.contacts:before {
  content: url("../../img/main/Frame.svg");
  padding-right: 5px;
}

.sidebar {
  position: fixed;
  max-width: 940px;
  z-index: 1;
  right: calc(50% - 540px);
  width: 50px;
  height: 100%;
  overflow: hidden;
}
.sidebar-menu {
  position: relative;
  top: 30%;
}
.sidebar-menu__item {
  margin-left: 5px;
  cursor: pointer;
  margin-top: 1rem;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: white;
}
.sidebar .active:after {
  content: "";
  display: block;
  position: relative;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: -5px;
  left: -5px;
  border: 2px solid white;
}