.benefit-section {
  padding: rem(105px) rem(0px);
}

.benefit {
  text-align: center;
  &__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: $grey;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(10px);
  }
  &__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    color: $black;
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(10px);
  }
}

