.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    align-items: center;
  }
  .feature { 
    display: flex;
  }
  &__icon {
    width: rem(50px);
    padding-right: rem(10px);
  }
  &__desc {
    width: rem(90px);
    font-size: rem(16px);
    font-style: normal;
    font-weight: bold;
  }
}