.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablets {
    width: 100%;
    background-color: $blue;
    padding: rem(26px) rem(30px);
    align-items: center;
  }
}

.contacts.header__contacts {
  @include tablets {
    display: none;
  }
}