.hamburger {
  flex-direction: column;
  justify-content: space-between;
  width: rem(24px); 
  height: rem(20px);
  display: none;

  @include tablets {
    display: inline-flex;
  }

  &__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 5px;
  }
}
