.hero {
  background: url('../../img/main/hero.png') center top no-repeat;
  height: 100%;
  min-height: 650px;
  color: white;
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
      &__list {
      display:flex;
    }
      &__item {
        padding: 0 11px;
      }
  }
  &-section {
    width: 580px;
    margin-bottom: 64px;
    &__title {
      font-size: 48px;
      line-height: normal;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &__subtitle {
      font-size: 21px;
      font-style: normal;
      line-height: normal;
      margin-bottom: 30px;
    }
  }
}

.hero-info {
  width: 500px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__icon {
    padding-right: 10px;
  }
  &__desc {
    width: 90px;
  }
}
